<h2>NgRX - Videojuego</h2>

<div id="container">
  <canvas #canvas width="800" height="600"></canvas>
</div>

<div class="debug">
  <h3>Debug: </h3>
  
  <button (click)="normal()">Normal</button>
  <button (click)="speed(2)">Speed</button>
  <button (click)="slow(0.5)">Slow</button>

  <h4>Velocidad: {{speed$ | async}}</h4>
</div>
