<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['destino'].value, fg.controls['pais'].value)"
>
    <div class="form-group">
        <label for="destino">Destino: </label>
        <input type="text" class="form-control" id="destino" placeholder="Ingresar destino..."
            [formControl]="fg.controls['destino']"
        >
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
		</ul>
        <div class="text-danger" *ngIf="fg.controls['destino'].hasError('required')">El destino es necesario.</div>
        <div class="text-danger" *ngIf="fg.controls['destino'].hasError('invalidLong')">La longitud del nombre es muy corta.</div>
        <div class="text-danger" *ngIf="fg.controls['destino'].hasError('restrictedDestino')">Este destino esta restringido por el momento.</div>
    </div>
    <div class="form-group">
        <label for="pais">País: </label>
        <input type="text" class="form-control" id="pais" placeholder="Ingresar país..."
            [formControl]="fg.controls['pais']"
        >
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
