<div class="container">
  <div class="jumbotron bg-dark text-white">
    <h1>{{ title }}</h1>
  </div>
  
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="row">
    <h4>
      <b [innerHTML]="'HOLA' | translate"></b>
    </h4>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>