<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span><h4>{{destino.id}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p>Este hermoso destino se encuentra en {{destino.pais}}.</p>
	</div>
</div>

<br />