<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Destinos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link">Info</a>
        </li>
    </ul>
</nav>

<div>
    <h4>Información de destino</h4>
    <p><b>Id:</b> {{ destino.id }}</p>
    <p><b>Destino:</b> {{ destino.nombre }}</p>
    <p><b>País:</b> {{ destino.pais }}</p>
</div>
